<!DOCTYPE html>
<html lang="en" ng-app='app' ng-controller="mapCtrl">
  <head>
    <title>Road Trip Advisor</title>
    <meta charset="UTF-8">


    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Rancho|Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <link rel="stylesheet" type="text/css" href="styles/style.css" />
    <link href='https://fonts.googleapis.com/css?family=Lobster|Rancho' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <script type="text/javascript">

      var map;
      var markerArray = [];
      var clickMarkerArray =[];
      var stepDisplay;
      var directionsService = new google.maps.DirectionsService();
      var clickMarker;
      var rendererOptions = {
        draggable: true
      };
      var directionsDisplay = new google.maps.DirectionsRenderer(rendererOptions);
      var infowindow = new google.maps.InfoWindow({ 
        size: new google.maps.Size(150,50)
      });

      function getAddress(lat, lng, cb) {
        var latlng = new google.maps.LatLng(lat, lng);
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({ 'latLng': latlng }, function (results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            if ($("#start").val() === '') {
              $("#start").val(results[1].formatted_address); 
            } else {
              $('#end').val(results[1].formatted_address);
            }
            address = "<b>Address:</b><br>"+results[1].formatted_address;
            cb(address);
          }
        });
      }

      var createMarker = function(latlng, name) {
        var clickMarker = new google.maps.Marker({
          position: latlng,
          map: map,
          zIndex: Math.round(latlng.lat()*-100000)<<5
        });
        google.maps.event.addListener(clickMarker, 'click', function() {
          getAddress(clickMarker.position.k, clickMarker.position.D, function(data) {
            infowindow.setContent(address); 
          });
          infowindow.open(map,clickMarker);
        });
        google.maps.event.trigger(clickMarker, 'click');    
        return clickMarker;
      };


      function initialize() {

        var mapOptions = {
          center: new google.maps.LatLng(37.82, -122.30),
          zoom: 10,
          disableDefaultUI:false,
          scaleControl: true,
          mapTypeControl: true,
          mapTypeControlOptions: {
            style: google.maps.MapTypeControlStyle.DEFAULT,
            mapTypeIds: [
              google.maps.MapTypeId.ROADMAP,
              google.maps.MapTypeId.TERRAIN,
              google.maps.MapTypeId.SATELLITE
            ]
          }, 
        };

        map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

        google.maps.event.addListener(map, 'click', function() {
          infowindow.close();
        });

        google.maps.event.addListener(map, 'click', function(event) {
        //call function to create marker
          if (clickMarkerArray[1]) {
            clickMarkerArray[1].setMap(null);
            var removed = clickMarkerArray.splice(1,1);
          }
          clickMarker = createMarker(event.latLng, "name");
          clickMarkerArray.push(clickMarker);
        });

        var input1 = document.getElementById('start');
        var input2 = document.getElementById('end');
        var autocomplete1 = new google.maps.places.Autocomplete(input1, null);
        var autocomplete2 = new google.maps.places.Autocomplete(input2, null);

        stepDisplay = new google.maps.InfoWindow();

        directionsDisplay.setMap(map);
        directionsDisplay.setPanel(document.getElementById('directions-panel'));
      }
      function calcRoute() {
        var request = {
          origin: document.getElementById('start').value,
          destination: document.getElementById('end').value,
          travelMode: google.maps.TravelMode.DRIVING
        };
        directionsService.route(request, function(response, status) {
          if (status == google.maps.DirectionsStatus.OK) {
            directionsDisplay.setDirections(response);
          }
        });
      }
      google.maps.event.addDomListener(window, 'load', initialize);

    </script>
  </head>
  <body>

    <div class="container-fluid">

      <div class="row">
        <div class="col-lg-12">

          <h1 id="title">Road Trip Advisor</h1>

          <div id='journey'>  
            <form class="navbar-form navbar-center" name="submitForm" autofill-submit='submit()'> 
              <div class="form-group">
                <button  type="button" ng-click="locationFinder()" id="search" class="btn btn-default navbar-btn">My location</button>
                <div id = "imageLoader">
                  <img ng-src="{{image.path}}" ng-attr-id="{{'image'}}" style="width: {{image.size.width}}px; height: {{image.size.height}}px"/>
                </div>
                <input type="text" autofill class="form-control submissionfield" id="start" placeholder="Starting location..." ng-model="location.start">
                <input type="text" autofill class="form-control submissionfield" id="end" placeholder="Destination..." ng-model="location.end">
              </div><br>
              <select name="serviceSelect" ng-model="optionFilter" ng-options="option.value as option.name for option in optionSelections" class="form-control" id="sel1"></select>
              <button type="submit" class="btn btn-default navbar-btn">Let's Go!</button>
              <button  type="button" ng-click="getDirections()" id="getDir" class="btn btn-default navbar-btn" disabled="true">Show Directions</button>
              <button  type="button" ng-click="copLocation()" id="cop" class="btn btn-default navbar-btn">Cop</button>
              <br>
              {{distance}}
            </form>
          </div>
        </div><!-- col-lg-12 -->
      </div><!-- row -->

      <div id="warningMsg"></div></div>
      <main-area></main-area>
      <div id="mapContainer">
        <div id="directions-panel"></div>
        <div id="map-canvas"></div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div id="topTen" style="margin-left: 20%;margin-right: 20%;vertical-align: middle;text-align: center;">
            <div ng-if="!!topTen" ng-model="topTen">
              <h1>Here's our Top 10 favorite spots along the journey! </h1><br>
              <div ng-repeat= "top in topTen" id="topTenList">
                <div ng-class="{'oddTop10': $odd , 'evenTop10': $even}">

                  <img ng-src='{{top["image_url"] ? top["image_url"] : "./images/default.jpg"}}' alt="Sites image not yet available" style="float:left;padding:5px;"/><br>
                  <div style="padding:5px 0 0 0">
                    <div style="font-family: arial, helvetica;font-size:1.5em;padding-bottom:10px;">{{top.name}} </div>
                    <img ng-src='{{top["rating_img_url"]}}' alt="rating not yet available" /><br>
                    <a ng-href='{{top["url"]}}' target="_blank"> Visit on Yelp</a>
                  </div>
                  <br clear="all">

                </div>
              </div>
            </div>
            <br>
            <br>
          </div>

        </div><!-- col-lg-12 -->
      </div><!-- row -->

    </div><!-- container-fluid -->

    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>
    <script src="lib/autofill-directive/autofill-directive.js"></script>

    <script src="app/service.js"></script>
    <script src="app/app.js"></script>

  </body>
</html>
